<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password change</title>
</head>
<body>
<h4>Change password</h4>
<form action="/change_password" method="post">
    <input name="old_password" placeholder="Input old password" pattern="[a-zA-Z0-9]+">
    <input name = "new_password" placeholder="Input new password" pattern="[a-zA-Z0-9]+">
    <button>Change!</button>
</form>
<div th:if="${param.error}" style="color: red">
    Passwords doesn't match!
</div>
</body>
</html>